{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": ["jsx-v-model", "transform-vue-jsx", "transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
